version: "3"

services:
  prometheus:
    image: prom/prometheus:latest
    ports:
     - 9090:9090
    volumes:
        - ./prometheus.yml:/etc/prometheus/prometheus.yml

  blackbox-exporter:
    image: prom/blackbox-exporter:latest
    command:
        - --config.file=/config/blackbox.yml
    volumes:
        - ./blackbox-config.yml:/config/blackbox.yml
    cap_add:
        - CAP_NET_RAW